body {
  background-image: url(https://typeset-beta.imgix.net/rehost%2F2016%2F11%2F10%2Fe55cddc0-54bb-4526-bfe3-bf54032fed4f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
